*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    color: #fff;

}

#header {
    width:100%;
    height: 100vh;
}

.container {
    padding: 10px 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.websitelogo {
    width: 140px;


}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}